---
import { Image } from "astro:assets";

interface Props {
  image: ImageMetadata;
  title: string;
  tags: string[];
}

const { tags, title, image } = Astro.props;
---

<div
  class="bg-gray-50 dark:bg-gray-700 p-2 shadow-xl dark:shadow-none"
  data-aos="fade-up"
>
  <Image src={image} alt={title} />
  <div class="text-gray-500 dark:text-gray-50 mt-3">
    <h4 class="mt-2 mb-0">{title}</h4>
    {tags.map((item) => <span class="text-xs mr-2">#{item}</span>)}
  </div>
</div>

<style>
  .thumbnail {
    padding: 0.5rem;
    border-radius: 0;
    border: 0;
    margin: 1.5rem 0;
    box-shadow: 0 16px 8px -8px rgba(0, 0, 0, 0.2);

    .caption [class^="icon-"] {
      font-size: 0.7em;
    }
  }

  .tag {
    font-weight: 700;
    margin-left: 0.5rem;
    color: #504a46;
  }
</style>
