@keyframes move-left {
  0% {
    transform: translateX(50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes move-right {
  0% {
    transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes wave {
  0%,
  25%,
  75%,
  100% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(30deg);
  }
}

@keyframes up-down {
  0%,
  25%,
  50%,
  100% {
    top: 0;
  }
  12%,
  37% {
    top: 5px;
  }
}
