---
import CleanLayout from "../layouts/CleanLayout.astro";
---

<CleanLayout title="404: Not Found">
  <main class="cointainer text-center">
    <h1>404: Not Found</h1>
    <p>Opps...Something went wrong!</p>
    <p>
      <a href="/">Back to Home</a>
    </p>
  </main>
</CleanLayout>
