---
import { Image } from "astro:assets";
import ImgAvatar from "../img/avatar.jpg";
import meta from "../js/meta.js";
import "../styles/animate.css";
---

<style>
  section {
    background-image: none;
    padding-top: 50px;

    @media (min-width: 768px) {
      min-height: 100vh;
      text-align: left;
    }
  }

  .row-flex {
    @media (min-width: 768px) {
      display: flex;
      align-items: center;
    }
  }

  img {
    width: 50%;
    max-width: 240px;
    height: auto;

    @media (min-width: 768px) {
      width: 300px;
      max-width: 300px;
      margin-right: 1rem;
    }
  }

  .avatar {
    animation: move-right 0.8s ease-out 0.2s backwards;

    @media (min-width: 768px) {
      text-align: right;
    }
  }

  article {
    animation: move-left 0.8s ease-out 0.2s backwards;
  }

  .waving-hand {
    display: inline-block;
    animation: wave 3s infinite;
  }

  h1 {
    margin-bottom: 0;
  }

  h2 {
    margin-top: 2px;
  }

  .anim-up-down {
    position: relative;
    animation: up-down 2s ease-in 1s 490;
  }
</style>
<section>
  <div class="container">
    <div class="row row-flex">
      <div class="col-xs-12 col-sm-5 avatar">
        <Image src={ImgAvatar} class="img-circle" alt="It's Wayne." />
      </div>
      <article class="col-xs-12 col-sm-7">
        <h1>{meta.title} <span class="waving-hand">👋</span></h1>
        <h2>{meta.subtitle}</h2>
        <p>{meta.description}</p>
        <p>
          I've refined my skills in building beautiful and functional
          interfaces. This includes everything from the design concept to a
          production-ready application, all aimed to drive business success.
        </p>
        <p>
          Welcome to my personal website where I share my knowledge, experience,
          and the projects that I've worked on.
        </p>
        <p>
          <a href="#contact">
            Get in touch <i class="icon-angle-down anim-up-down"></i>
          </a>
        </p>
      </article>
    </div>
  </div>
</section>
