---
import { Image } from "astro:assets";
import ImgMemoji from "../img/memoji.png";
---

<style>
  a {
    color: currentColor;
  }

  a:hover {
    color: var(--secondary-color);
    background: var(--body-base-color);
  }

  .anim-up-down {
    position: relative;
    animation: up-down 2s ease-in 1s 490;
  }

  .bg-gradient {
    background-size: 100% 100%;
    background-position: 0px 0px;
    background-image: linear-gradient(
      60deg,
      var(--primary-color) 0%,
      var(--secondary-color) 100%
    );
  }
</style>
<section
  id="contact"
  class="theme-contrast m-auto mb-20 py-20 pb-0 w-[90%] lg:w-[80%] rounded-3xl grid place-items-center bg-gradient text-skin-base"
  data-aos="fade-in"
>
  <div class="container text-left 2xl:text-center">
    <h2 class="text-4xl leading-none text-skin-pop">
      <span class="block 2xl:inline anim-up-down">🤝</span>
      Interested in working together?
    </h2>

    <p>
      Please send me email at
      <a href="mailto:hello@bergkampho.com" class="whitespace-nowrap sm:px-1"
        ><i class="m-0 icon-envelope"></i> hello@bergkampho.com</a
      >. You can also connect my <a
        target="_blank"
        href="http://www.linkedin.com/in/bergkampho"
        class="whitespace-nowrap sm:px-1"
      >
        <i class="icon-linkedin-sign"></i> LinkedIn</a
      > profile.
    </p>
  </div>
  <Image src={ImgMemoji} alt="Bergkamp Ho" class="w-[220px] pt-5" />
</section>
