---
import { Image } from "astro:assets";
import ImgMemoji from "../img/memoji.png";
---

<style>
  a {
    color: currentColor;
  }

  a:hover {
    color: var(--secondary-color);
    background: var(--body-base-color);
  }

  .anim-up-down {
    position: relative;
    animation: up-down 2s ease-in 1s 490;
  }

  .bg-gradient {
    background-size: 100% 100%;
    background-position: 0px 0px;
    background-image: linear-gradient(
      60deg,
      var(--primary-color) 0%,
      var(--secondary-color) 100%
    );
  }
</style>
<section id="contact" class="theme-contrast" data-aos="fade-in">
  <div
    class="container max-w-[95%] mb-20 px-8 pt-8 lg:pt-20 pb-0 bg-gradient text-skin-base rounded-3xl grid place-items-center"
  >
    <article class="text-left lg:text-center">
      <h2 class="text-4xl leading-none text-skin-pop">
        <span class="block lg:inline anim-up-down">🤝</span>
        Interested in working together?
      </h2>
      <p class="leading-relaxed">
        <!-- Calendly link widget begin -->
        <link
          href="https://assets.calendly.com/assets/external/widget.css"
          rel="stylesheet"
        />
        <script
          src="https://assets.calendly.com/assets/external/widget.js"
          type="text/javascript"
          async></script>
        <a
          class="whitespace-nowrap px-1"
          href=""
          onclick="Calendly.initPopupWidget({url: 'https://calendly.com/bergkampho/collaboration-with-wayne'});return false;"
          ><i class="m-0 icon-calendar"></i> Schedule a Meeting with me</a
        >
        <!-- Calendly link widget end -->or email your ideas at
        <a href="mailto:hello@bergkampho.com" class="whitespace-nowrap px-1"
          ><i class="m-0 icon-envelope"></i> hello@bergkampho.com</a
        >
      </p>
      <p class="leading-relaxed mt-2 px-1">I'd love to hear from you!</p>
    </article>
    <Image src={ImgMemoji} alt="Bergkamp Ho" class="w-[220px] pt-5" />
  </div>
</section>
