---
const thisYear = new Date().getFullYear();
---

<style>
  footer {
    background: var(--color-gray-900);
    color: var(--color-gray-400);
    padding: 1.5em 0 1em;
  }

  a {
    color: var(--color-gray-400);

    :hover {
      color: var(--color-lemon);
    }
  }
</style>
<footer class="text-center">
  <p class="text-xs">
    <a
      data-track-label="Bho GitHub"
      target="_blank"
      href="https://github.com/bergkampho/bergkampho"
      aria-label="Under the hood"><i class="icon-cog icon-spin"></i></a
    >
    Made in HK and revamped in the UK. <br class="lg:hidden" />&copy; 2013-{
      thisYear
    } Bergkamp Ho.
  </p>
</footer>
