---
import ScrollGallery from "./ScrollGallery.astro";
---

<section id="portfolio" class="bg-skin-fill pb-16">
  <div class="container">
    <h2 class="text-lg leading-none" data-aos="fade-in">
      Here’s a small selection of my works.
    </h2>
  </div>
  <ScrollGallery />
</section>
