<style>
  section {
    background-color: var(--color-salmon);
    color: #fff;
  }

  a.link {
    color: currentColor;
    padding: 0 0.5rem;

    &:hover {
      color: var(--color-salmon);
      background: #fff;
    }
  }
</style>
<section id="skills" class="salmon">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-md-4">
        <h1 class="text-center wow flipInX">Front-end development</h1>
        <div class="front-end-icon icon-wrapper icon-3x text-center wow fadeIn">
          <i class="icon-html5"></i>
          <i class="icon-css3"></i>
          <i class="icon-mobile-phone"></i>
          <i class="icon-desktop"></i>
        </div>
        <div class="wow fadeIn">
          <p>I'm fluent with HTML, CSS and JavaScript.</p>
          <p>
            I love mobile. I make websites responsive to any type of device or
            any screen size, implementing effects with pure CSS3 or React.js for
            complex interactions.
          </p>
          <p>
            I also extend my skills in Flutter for iOS and Android, providing
            seamless UX, efficient code reuse, and quicker development.
          </p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4">
        <h1 class="text-center wow flipInX">Back-end development</h1>
        <div class="back-end-icon icon-wrapper icon-3x text-center wow fadeIn">
          <i class="icon-github"></i>
          <i class="icon-code"></i>
          <i class="icon-sitemap"></i>
          <i class="icon-shopping-cart" style="font-size: 0.9em;"></i>
        </div>
        <div class="wow fadeIn">
          <p>
            I’m a open source lover with experience in Linux, Node.js and Go
            environment.
          </p>
          <p>
            I specialize to implement websites with custom business logic such
            as Content Management System or shopping cart with payment gateway
            integration.
          </p>
          <p>
            I deploy software to cloud platforms like AWS, using robust CICD
            processes for efficient delivery.
          </p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4">
        <h1 class="text-center wow flipInX">3rd-party integration</h1>
        <div class="3rd-party-icon icon-wrapper icon-3x text-center wow fadeIn">
          <i class="icon-facebook"></i>
          <i class="icon-thumbs-up-alt"></i>
          <i class="icon-twitter"></i>
          <i class="icon-bar-chart"></i>
        </div>
        <div class="wow fadeIn">
          <p>
            I'm also familiar with the integration of popular social platforms
            like Facebook, X (formerly Twitter), and WeChat. I can use social
            platform plugins or APIs to increase visitor engagement.
          </p>
          <p>
            Additionally, I can implement tracking on websites to analyze
            visitor behaviors and site performance.
          </p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 text-center">
        <p class="wow fadeIn">
          <a href="#portfolio" class="call-for-action"
            ><i class="icon-briefcase"></i> see my work</a
          >
        </p>
      </div>
    </div>
  </div>
  <!-- /.container -->
</section>
