<theme-toggle>
  <button>
    <span class="sr-only">Dark theme</span>
    <span class="icon light"><i class="icon-sun m-0"></i></span>
    <span class="icon dark"><i class="icon-moon m-0"></i></span>
  </button>
</theme-toggle>

<style>
  :root {
    /* Colors */
    --selected: var(--color-sky);
    --selected-over: var(--color-gray-50);
    --dimmed: var(--color-gray-500);

    /* Transitions */
    --theme-transition: 0.2s ease-in-out;
  }

  :root.dark {
    --selected: var(--color-lemon);
    --selected-over: var(--color-gray-900);
    --dimmed: var(--color-gray-600);
  }

  button {
    display: flex;
    border: 0;
    border-radius: 999rem;
    padding: 0;
    background-color: transparent;
    box-shadow: inset 0 0 0 1px var(--selected);
    cursor: pointer;
  }

  .icon {
    z-index: 1;
    position: relative;
    display: flex;
    padding: 0.25rem;
    width: 1rem;
    height: 1rem;
    font-size: 0.5rem;
    color: var(--dimmed);
  }

  .icon.light::before {
    content: "";
    z-index: -1;
    position: absolute;
    inset: 0;
    background-color: var(--selected);
    border-radius: 999rem;
  }

  :global(.dark) .icon.light::before {
    transform: translateX(100%);
  }

  :global(.dark) .icon.dark,
  :global(html:not(.dark)) .icon.light,
  button[aria-pressed="false"] .icon.light {
    color: var(--selected-over);
  }

  @media (prefers-reduced-motion: no-preference) {
    .icon,
    .icon.light::before {
      transition:
        transform var(--theme-transition),
        color var(--theme-transition);
    }
  }

  @media (forced-colors: active) {
    .icon.light::before {
      background-color: SelectedItem;
    }
  }
</style>

<script>
  class ThemeToggle extends HTMLElement {
    constructor() {
      super();

      const button = this.querySelector("button")!;

      /** Set the theme to dark/light mode. */
      const setTheme = (dark: boolean) => {
        document.documentElement.classList[dark ? "add" : "remove"]("dark");
        button.setAttribute("aria-pressed", String(dark));
        localStorage.theme = dark ? "dark" : "light";
      };

      // Toggle the theme when a user clicks the button.
      button.addEventListener("click", () => setTheme(!this.isDark()));

      // Initialize button state to reflect current theme.
      setTheme(this.isDark());
    }

    isDark() {
      return document.documentElement.classList.contains("dark");
    }
  }
  customElements.define("theme-toggle", ThemeToggle);
</script>
