---
import GoogleTagManagerNoScript from "../components/GoogleTagManagerNoScript.astro";
import Head from "../components/Head.astro";

const { title } = Astro.props;
---

<html lang="en">
  <Head title={title} />
  <body>
    <GoogleTagManagerNoScript />
    <div class="container py-1 text-sm text-skin-nav-link">
      <a class="navbar-brand" href="/">Bergkamp Ho</a>
    </div>
    <slot />
  </body>
</html>
