---
import Footer from "../components/Footer.astro";
import GoogleTagManagerNoScript from "../components/GoogleTagManagerNoScript.astro";
import Head from "../components/Head.astro";
import Navbar from "../components/Navbar.astro";
---

<html lang="en">
  <Head title={Astro.props.title} />
  <body id="about">
    <GoogleTagManagerNoScript />
    <Navbar />

    <slot />

    <Footer />
  </body>
</html>
