---
import Footer from "../components/Footer.astro";
import GoogleTagManagerNoScript from "../components/GoogleTagManagerNoScript.astro";
import Head from "../components/Head.astro";
import TopBar from "../components/TopBar.astro";
---

<html lang="en">
  <Head title={Astro.props.title} />
  <body>
    <GoogleTagManagerNoScript />
    <TopBar />

    <slot />

    <Footer />
    <!-- Calendly badge widget begin -->
    <link
      href="https://assets.calendly.com/assets/external/widget.css"
      rel="stylesheet"
    />
    <script
      src="https://assets.calendly.com/assets/external/widget.js"
      type="text/javascript"
      async></script>
    <script type="text/javascript">
      window.onload = function () {
        Calendly.initBadgeWidget({
          url: "https://calendly.com/bergkampho/collaboration-with-wayne",
          text: "Meet with Me",
          color: "#475569",
          textColor: "#ffffff",
          branding: undefined,
        });
      };
    </script>
    <!-- Calendly badge widget end -->
  </body>
</html>
