---
import Footer from "../components/Footer.astro";
import GoogleTagManagerNoScript from "../components/GoogleTagManagerNoScript.astro";
import Head from "../components/Head.astro";
import TopBar from "../components/TopBar.astro";
---

<style>
  .scroll-up {
    position: fixed;
    display: none;
    z-index: 999;
    bottom: 1rem;
    right: 1rem;
  }
  .scroll-up a {
    background-color: rgba(237, 237, 237, 0.5);
    border-radius: 10px;
    display: block;
    width: 28px;
    height: 28px;
    text-align: center;
    color: #222;
    font-size: 0.75rem;
    line-height: 30px;
  }
</style>
<html lang="en">
  <Head title={Astro.props.title} />
  <body>
    <GoogleTagManagerNoScript />
    <TopBar />

    <slot />

    <Footer />
    <div class="scroll-up">
      <a href="#hello" title="Go to top" data-track-label="Go to top">
        <i class="icon-chevron-up"></i>
      </a>
    </div>
    <script>
      function init() {
        window.addEventListener("scroll", handleScroll);
      }

      function handleScroll() {
        // Handle sticky navbar
        const scrollUpBtn = document.querySelector<HTMLElement>(".scroll-up");
        if (scrollUpBtn) {
          if (window.scrollY > 100) {
            scrollUpBtn.style.display = "block";
          } else {
            scrollUpBtn.style.display = "none";
          }
        }
      }

      init();
      window.addEventListener("astro:beforeload", init);
    </script>
  </body>
</html>
